
<div @onclick="()=>OnClick(Note)" class="@GetClass() flex h-60 w-full flex-col rounded-xl px-4 py-5">

    @if (Note?.Id < 0)
    {
        <div class="mb-2">
            <svg class="h-6 w-6 dark:fill-zinc-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M16 64C16 28.7 44.7 0 80 0H304c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H80c-35.3 0-64-28.7-64-64V64zM144 448c0 8.8 7.2 16 16 16h64c8.8 0 16-7.2 16-16s-7.2-16-16-16H160c-8.8 0-16 7.2-16 16zM304 64H80V384H304V64z" /></svg>
        </div>
    }

    <label class="text-lg font-bold text-zinc-800 dark:text-white">@Note?.Tittle</label>
    <label class="mt-2 truncate whitespace-normal break-all text-sm font-medium text-zinc-700 dark:text-white">@Note?.Content</label>
</div>