
<div @onclick="()=>OnClick(Note)" class="@GetClass() flex h-60 w-full flex-col rounded-xl px-4 py-5">
    <label class="text-lg font-bold text-zinc-800 dark:text-white">@Note?.Tittle</label>
    <label class="mt-2 whitespace-normal break-all text-sm font-medium text-zinc-700 dark:text-white">@Note?.Content...</label>
</div>