
@media not all and (hover: none) and (pointer: coarse) {
    /* Estilos para la barra de desplazamiento bajo la clase UIScroll */
    .UIScroll::-webkit-scrollbar {
        width: 8px;
    }

    .UIScroll::-webkit-scrollbar-track {
        border-radius: 9999px;
    }

    .UIScroll::-webkit-scrollbar-track,
    .UIScroll.dark::-webkit-scrollbar-track {
        background-color: #00FF0000; /* Cambia este valor al color de fondo deseado */
    }

    .UIScroll::-webkit-scrollbar-thumb {
        border-radius: 9999px;
    }

    .UIScroll::-webkit-scrollbar-thumb,
    .UIScroll.dark::-webkit-scrollbar-thumb {
        background-color: #d1d5db; /* Cambia este valor al color del thumb deseado */
    }

    /* Estilos oscuros */
    .UIScroll.dark::-webkit-scrollbar-track {
        background-color: #333; /* Cambia este valor al color oscuro de fondo deseado */
    }

    .UIScroll.dark::-webkit-scrollbar-thumb {
        background-color: #222; /* Cambia este valor al color oscuro del thumb deseado */
    }
}
