@inject NavigationManager navigationManager

<div class="-translate-x-1/2 z-40 fixed bottom-4 left-1/2 h-16 w-full w-max max-w-lg rounded-full">
    <div class="mx-auto grid h-full w-max">
        
        <div class="flex items-center justify-center">
            <button @onclick="Go" data-tooltip-target="tooltip-new" type="button" class="bg-black/15 group inline-flex h-16 w-24 items-center justify-center rounded-full border border-zinc-300 font-medium backdrop-blur-lg hover:bg-zinc-500/40 focus:outline-none dark:border-zinc-700 dark:bg-zinc-200/15">
                <svg class="h-4 w-4 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16" />
                </svg>
                <span class="sr-only">New item</span>
            </button>
        </div>

    </div>
</div>
