@page "/home"
@inject NavigationManager NavigationManager


@* Pantalla *@
<div class="UIScroll fade-in flex w-full justify-center overflow-y-auto overflow-x-hidden">
    <div class="flex h-full w-full flex-grow flex-col px-4 pt-9 lg:px-10">

        @* Título *@
        <label class="text-8xl font-bold text-zinc-900 dark:text-white">Mis</label>
        <label class="text-7xl font-medium text-zinc-800 dark:text-zinc-300">Notas</label>

        @* Perfil *@
        <div class="mt-3">
            <div class="bg-yellow-400/30 flex w-max items-center gap-1 rounded-full pr-4 dark:bg-yellow-500/20">

                @* Obtener la imagen de perfil. *@
                @{
                    string url = $"data:image/png;base64,{Convert.ToBase64String(LIN.Access.Notes.Session.Instance.Account.Profile)}";
                }

                @* Perfil. *@
                @if (LIN.Access.Notes.Session.Instance.Account.Profile.Length <= 0)
                {

                    <div @onclick="CloseSession" class="relative inline-flex h-10 w-10 items-center justify-center overflow-hidden rounded-full bg-gray-100 dark:bg-zinc-800">
                        <span class="text-sm text-gray-600 dark:text-gray-300">@(Global.Utilities.Strings.GetInitials(LIN.Access.Notes.Session.Instance.Account.Name))</span>
                    </div>
                }
                else
                {
                    <img @onclick="CloseSession" class="h-10 w-10 rounded-full" src="@url" alt="Rounded avatar">
                }

                <label class="font-medium text-zinc-900 dark:text-zinc-300">Alex</label>
            </div>
        </div>

        @* Si es una sesión local. *@
        @if (LIN.Access.Notes.Session.Instance.IsLocal)
        {
            <div class="mt-3 flex items-center gap-2 rounded-lg bg-zinc-200 p-3 dark:bg-zinc-900">
                <svg class="h-8 w-8 dark:fill-zinc-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M38.8 5.1C28.4-3.1 13.3-1.2 5.1 9.2S-1.2 34.7 9.2 42.9l592 464c10.4 8.2 25.5 6.3 33.7-4.1s6.3-25.5-4.1-33.7L489.3 358.2l90.5-90.5c56.5-56.5 56.5-148 0-204.5c-50-50-128.8-56.5-186.3-15.4l-1.6 1.1c-14.4 10.3-17.7 30.3-7.4 44.6s30.3 17.7 44.6 7.4l1.6-1.1c32.1-22.9 76-19.3 103.8 8.6c31.5 31.5 31.5 82.5 0 114l-96 96-31.9-25C430.9 239.6 420.1 175.1 377 132c-52.2-52.3-134.5-56.2-191.3-11.7L38.8 5.1zM239 162c30.1-14.9 67.7-9.9 92.8 15.3c20 20 27.5 48.3 21.7 74.5L239 162zM116.6 187.9L60.2 244.3c-56.5 56.5-56.5 148 0 204.5c50 50 128.8 56.5 186.3 15.4l1.6-1.1c14.4-10.3 17.7-30.3 7.4-44.6s-30.3-17.7-44.6-7.4l-1.6 1.1c-32.1 22.9-76 19.3-103.8-8.6C74 372 74 321 105.5 289.5l61.8-61.8-50.6-39.9zM220.9 270c-2.1 39.8 12.2 80.1 42.2 110c38.9 38.9 94.4 51 143.6 36.3L220.9 270z" /></svg>
                <div class="flex flex-col justify-center">
                    <label class="font-bold dark:text-zinc-300">Sin conexión</label>
                    <label class="text-xs dark:text-zinc-400">Cuando vuelvas a tener conexión se sincronizaran los cambios.</label>
                </div>
            </div>
        }


        @* Botones de acceso. *@
        <div class="mt-5 flex w-full gap-3">

            @* Mostrar todas. *@
            <div class="border-2 w-max rounded-2xl border-current-500 bg-current-500 px-4 py-2 text-zinc-50 dark:border-current-500/50 dark:bg-current-500/50">
                <label>Todas</label>
            </div>

            @* Importantes *@
            <div class="border-2 w-max rounded-2xl border-zinc-400 px-4 py-2 text-zinc-400">
                <label>Importante</label>
            </div>

            @* Tareas. *@
            <div class="border-2 w-max rounded-2xl border-zinc-400 px-4 py-2 text-zinc-400">
                <label>To-do</label>
            </div>

        </div>


        @* Renderizar las notas. *@
        <div class="grid-cols-2 mt-5 grid gap-3 pb-5 md:grid-cols-4">

            @* Pantalla de carga. *@
            @if (Notes == null)
            {
                <div class="flex w-full justify-center p-4">
                    <LIN.Notes.Components.Elements.Loader />
                </div>
            }
            else
            {

                @* Si hubo un error. *@
                @if (Notes.Response != Responses.Success)
                {
                    <label>Error</label>
                }

                @* Renderizar notas. *@
                else
                {

                    @* Control de notas. *@
                    @foreach(var e in Notes.Models)
                    {
                        <LIN.Notes.Components.Shared.NoteControl Note="e" OnClick="Go" />
                    }
                    
                }

            }

        </div>

    </div>

</div>


@* Navegación inferior. *@
<LIN.Notes.Components.Elements.BottomNavigation OnClick="Create" />